
.header {
  background: #EC1D24;
  padding: '0 10px';
  position: 'sticky';
}

.header3 {
  background: #202020;
  padding: '0 10px';
  position: 'sticky';
  margin: 10px;
  height: '84px';
}

.custom-button {
    background-color: #EC1D24;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: none;
  }
  
  .custom-button2 {
    background-color: #EC1D24;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 0px auto;
  }

  .custom-button3 {
    background-color: #202020;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 0px auto;
  }

  .custom-button3:hover {
    background-color: #EC1D24;
  }

  .custom-button:hover {
    background-color: #414141;
  }

  .logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
    color: white;
    float: left;
    padding: 10px;
    text-shadow: 0.1em 0.1em 0.2em #414141;

  }

  /*.regis {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;
    background-color: #EC1D24;
    border: none;
    cursor: pointer;
    
  }*/

  .footer {
    margin-top: auto;
    background-color: black;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 2.5rem; 
    justify-content: center;  
  }

  .footer p {
    text-align: center;
    color: white;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
  }

  .inisesion {
    float: right;
    position: relative;
    top: -85px;
  }
