.tituloCont {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-bottom: 2px solid black;
}

.tituloCont h2 {
    text-shadow: 5px 2px 4px rgb(185, 185, 185);
}

.vistaPers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
    margin-top: 3rem;
    padding: 0 3rem 3rem;
}

.bordeImg {
    border-bottom: 5px solid red;
}

.imagen {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.tituloPers {
    padding: 6px;
    background-color: rgb(85, 85, 85);
    color: white;
    position: relative;
    height: 100px;
}

.tituloPers h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
}

.tituloPers p {
    position: absolute;
    bottom: -15px;
    right: 10px;

}

.cajaPers {
    box-shadow: 8px 5px 10px rgb(155, 154, 154);
    transition: all 0.4s ease;
}

.cajaPers:hover {
    filter: brightness(40%);
}

.descCont {
    display: flex;
    padding-left: 30px;
}

.descContImg h2 {
    text-shadow: 5px 2px 4px rgb(185, 185, 185);
}

.descContImg img {
    box-shadow: 8px 5px 10px rgb(155, 154, 154);
}

.descContTitu {
    display: flex;
    padding: 45px 0 0 20px;
}

.descContTitu div:nth-child(1) {
    margin-right: 50px;
    text-align: left;
    font-weight: bolder;
}

.descContTitu div:nth-child(2){
    text-align: right;
    max-width: 400px;
}

.carrusel {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carrusel li {
    padding-left: 10px;
    padding-right: 10px;
}