.sidebar {
    width: 340px;
}

.resumenbar {
    background-color: #656565;
    color: #fff;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.tituloresumen h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    padding: 15px;
    background-color: #535353;
    margin: 0;
    margin-top: 25px;
}